<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — my ASP.NET application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand sticky-top navbar-dark bg-dark">
        @Html.ActionLink("Sandbox", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navbar-header ml-5" })
        <div class="navbar-collapse collapse">
        </div>
        @Html.Partial("_LoginPartial")

    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year — my ASP.NET application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>
