@model SandBox.ViewModels.PostFormViewModel
@{
    ViewBag.Title = "NewPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.PageHeading</h2>
<hr />
@using (Html.BeginForm(Model.ActionName, "Posts"))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Contents)
        @Html.TextAreaFor(m => m.Contents, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Contents)
    </div>
    <div class="form-check">
        @Html.CheckBoxFor(m => m.PubliclyVisible, new { @class = "form-check-input", id="public"})
        <label class="form-check-label" for="public">Make this post visible for everyone</label>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Publish</button>

    @Html.HiddenFor(m => m.Id)
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}